<article class="portfolio-about">
    <div class="row">
        <div class="col-12 col-md-8">
            <img
                class="img-fluid rounded"
                src="/assets/images/profile.jpg"
                alt="Profile Image"
            />
            <h1 class="display-4">Zack Mowrer</h1>
            <p class="lead text-dark">
                The Full-Stack Child Prodigy from the Mountain State
            </p>
            <p class="bio">
                Having been one of the original members of the
                <a
                    href="https://wvcoding.org"
                    target="_blank"
                    rel="noopener noreferer"
                >
                    West Virginia Coding Club
                </a>
                since its founding in late 2016, I have been working in
                Full-Stack JavaScript since 2017; furthermore, I am willing to
                adapt to the needs of others and learn new technologies as
                needed. Unit testing (particularly with Jest) and code
                formatting tools (such as ESLint and Prettier) are nothing new
                for me.
            </p>
            <p>
                <em>Oh, and did I mention that I am only 16?</em>
            </p>
        </div>
        <div class="col-12 col-md-4">
            <h6>Skills</h6>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>jQuery</li>
                <li>AJAX</li>
                <li>Node.js</li>
                <li>Express</li>
                <li>React</li>
                <li>React Router</li>
            </ul>
            <h6>Contact Info</h6>
            <ul>
                <li>
                    <a
                        href="mailto:Zackmowrer@gmail.com"
                        target="_blank"
                        rel="noopener noreferer"
                    >
                        Zackmowrer@gmail.com
                    </a>
                </li>
            </ul>
            <div class="btn-group w-100 mb-3">
                <a
                    class="btn btn-dark"
                    href="https://www.linkedin.com/in/zack-mowrer-39902b18b/"
                    target="_blank"
                    rel="noopener noreferer"
                >
                    LinkedIn
                </a>
                <a
                    class="btn btn-dark"
                    href="https://twitter.com/zackmowrer"
                    target="_blank"
                    rel="noopener noreferer"
                >
                    GitHub
                </a>
                <a
                    class="btn btn-dark"
                    href="https://github.com/ZTMowrer947"
                    target="_blank"
                    rel="noopener noreferer"
                >
                    Twitter
                </a>
            </div>
        </div>
    </div>
</article>
