extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Zack Mowrer

        p.lead.text-light
          | Full Stack JavaScript Dev based in the Mountain State

        .portfolio-bio
          //- Bio
          p
            | I create Front-end Web and Node.js applications using various technologies, such as jQuery and Express, either to practice technologies I am learning about or to display mastery of those I use extensively.
            | The code I write is of professional quality while still including extensive yet consise commentary to prevent confusion from those reading through it.
            | After all, an important part of being a developer is effectively collaborating with others, and confusing code does not help.
            | So, what degree of code quality does your team currently reach?
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Frontend Web
          li Node.js
          li jQuery
          li Express
          li Git and Github
          li TypeScript
          li React
          li React Router
          li Webpack
          li GraphQL

        h6 Contact Info

        //- Phone number and email
        ul
          li 304-932-5508
          li Zackmowrer@gmail.com

        //- Online links
        a.button.expanded(href='https://github.com/ZTMowrer947') GitHub
        a.button.expanded(href='https://twitter.com/zackmowrer') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  