extends layout

block content
    //- Determine if we are in development
    - let isDevelopment = env === "development";

    .error
        h1 Sorry, an error has occurred.
        h2= error.status
        h3= error.message

        //- Also display stack message if in development
        if isDevelopment
            .stack-message
                pre= error.stack

    //- Link back to home page
    nav.grid-container.portfolio-breadcrumb
        a(href='/') ← Home page