<article class="portfolio-intro">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead text-dark">
        Here you shall find the many projects demonstrating my skills in
        Full-Stack JavaScript programming. Enjoy!
    </p>
</article>
<hr />
<article class="portfolio-index">
    <ul class="row list-unstyled">
        <li *ngFor="let project of projects" class="col-12 col-md-6 col-lg-4">
            <a
                [routerLink]="['/projects', project.id]"
                class="text-decoration-none"
            >
                <img
                    [src]="project.landingImageUrl"
                    class="img-fluid img-thumbnail"
                    alt="Landing image"
                />
                <span
                    class="project-title mb-4 d-inline-block text-center text-uppercase w-100"
                >
                    {{ project.name }}
                </span>
            </a>
        </li>
    </ul>
</article>
